@model pegasus_library_aspnet.Models.Author

@{
    ViewData["Title"] = "Details";
}


<div class="card w-50 border-0 pt-3">
    <div class="card-header border-0 alert-success">
        AUTHOR DETAILS
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>
    </div>
    <div class="modal-footer border-0 text-right">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>